<h1 class="display-4">Welcome to ArticleBase</h1>
<p class="mb-4">this is sails.js app for managing articles</p>
<a href="/articles/list" class="btn btn-light">View Article</a>
<a href="/articles/add" class="btn btn-light">Add Article</a>